body::after {
    content: '';
    background: #bbb no-repeat center center fixed;
    background-image: url('/themes/background-ashido.png');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* filter: blur(1px) brightness(0.9) grayscale(0.1); */
}

@media screen and (max-width: 1000px) {
    body::after {
        background-image: url('/themes/background-ashido-mobile.png');
        /* filter: blur(1px) brightness(0.8) grayscale(0.1) saturate(2) sepia(0.3); */
    }
}

.navbar {
    background-color: #ebc4d8aa;
}

.logo {
    content: url('/themes/logo-ashido.png');
}

.footer {
    background-color: #934f6aaa;
}