body::after {
    content: '';
    background-image: url('/themes/background-ashido.png');
    background: #242424 no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(1px) brightness(0.9) grayscale(0.1);
}

.navbar {
    background-color: #303030aa !important;
}

.logo {
    content: url('/themes/logo-default.png');
}

.footer {
    background-color: #272727aa !important;
}