body::after {
    content: '';
    background: #bbb no-repeat center center fixed;
    background-image: url('/themes/background-riju1.png');
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.navbar {
    background-color: #72230daa;
}

.logo {
    content: url('/themes/logo-riju-main.png');
}

.footer {
    background-color: #682c18aa;
}