body::after {
    content: '';
    background: #bbb no-repeat center center fixed;
    background-image: url('/themes/background-riju3.png');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.navbar {
    background-color: #5fafceaa;
}

.logo {
    content: url('/themes/logo-riju-main.png');
}

.footer {
    background-color: #d88555aa;
}